/* stylesheet created by Greg Hartwich 
 greghartwich.com */
/*comment=cntrl + ?*/
.body{
	background: url(../images/bgimage.jpg);
	margin:0px;
	padding:0px;
	font-family:Helvetica, sans-serif;
	background-repeat:none;
}
a{
	text-decoration:none;
	color:#000D0D4;
	font-weight:bold;
}
.headline{
	font-size:60px;
	color:30FF37;
	font-weight:bold;
	text-align:center;
	padding:20px;
}
.gregImage{
	width:500px;
	height:auto;
	text-align:center;
	margin:10px auto;
}
.contactInfo{
	color:#000D0D4;
	font-size:32px;
	font-weight:lighter;
	margin:10px 0;
	text-align:center;
}